body{
            margin:0;
}

* {
    box-sizing: border-box;
}

.container {
margin-right: auto;
margin-left: auto;
padding-right: 15px;
padding-left: 15px;


    @media (min-width: $bp-tablet){
width: $cont-tablet;

    }

        @media (min-width: $bp-desktop){
width: $cont-desktop;

    }

        @media (min-width: $bp-wide){
width: $cont-wide;

    }
}
.soft-link {
  color: inherit;              
  text-decoration: none;       
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
