$blue-bg: #323544;
$red:          #d62828;
$green:        #2ca58d;
$blue:         #1f3c88;
$light-orange: #f4a261;
$dark-orange:  #e76f51;
$jean-blue:    #264653;
$purple:       #6a4c93;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-wide: 1260px;
$cont-tablet: 750px;
$cont-desktop: 970px;
$cont-wide: 1200px;
$post-min-width: 18rem;   
$post-max-width: 30rem;   
$post-gap: 2rem;          
$post-height: 40rem;      

